@import "tailwindcss";

/* Forcer le thème clair */
:root {
  --background: #f3f4f6; /* gris clair (Tailwind gray-100) */
  --foreground: #1f2937; /* gris foncé (Tailwind gray-800) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
